on:
  workflow_call:
    inputs:
      go-version-file:
        default: go.mod
        description: |
          Path to the file that declares the Go version
        required: false
        type: string

      golangci-lint-version:
        default: "v1.55.2"
        description: |
          Set the version for golangci-lint
        required: false
        type: string

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: ci/checkout-repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: ci/setup
        uses: mattermost/actions/plugin-ci/setup@218fd96a63451259dc100e1292a5e44af92fe15d
        with:
          go-version-file: ${{ inputs.go-version-file }}
          golangci-lint-version: ${{ inputs.golangci-lint-version }}

      - name: ci/lint
        uses: mattermost/actions/plugin-ci/lint@218fd96a63451259dc100e1292a5e44af92fe15d

  test:
    runs-on: ubuntu-latest
    steps:
      - name: ci/checkout-repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: ci/setup
        uses: mattermost/actions/plugin-ci/setup@218fd96a63451259dc100e1292a5e44af92fe15d
        with:
          go-version-file: ${{ inputs.go-version-file }}
          golangci-lint-version: ${{ inputs.golangci-lint-version }}

      - name: ci/test
        uses: mattermost/actions/plugin-ci/test@218fd96a63451259dc100e1292a5e44af92fe15d

  build:
    runs-on: ubuntu-latest
    steps:
      - name: ci/checkout-repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: ci/setup
        uses: mattermost/actions/plugin-ci/setup@218fd96a63451259dc100e1292a5e44af92fe15d
        with:
          go-version-file: ${{ inputs.go-version-file }}
          golangci-lint-version: ${{ inputs.golangci-lint-version }}

      - name: ci/build
        uses: mattermost/actions/plugin-ci/build@218fd96a63451259dc100e1292a5e44af92fe15d
