on:
  workflow_call:
    inputs:
      go-version-file:
        default: go.mod
        description: |
          Path to the file that declares the Go version
        required: false
        type: string

      golangci-lint-version:
        default: "v1.55.2"
        description: |
          Set the version for golangci-lint
        required: false
        type: string

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: ci/checkout-repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: ci/setup
        uses: mattermost/actions/plugin-ci/setup@main
        with:
          go-version-file: ${{ inputs.go-version-file }}
          golangci-lint-version: ${{ inputs.golangci-lint-version }}

      - name: ci/lint
        uses: mattermost/actions/plugin-ci/lint@main

  test:
    runs-on: ubuntu-latest
    steps:
      - name: ci/checkout-repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: ci/setup
        uses: mattermost/actions/plugin-ci/setup@main
        with:
          go-version-file: ${{ inputs.go-version-file }}
          golangci-lint-version: ${{ inputs.golangci-lint-version }}

      - name: ci/test
        uses: mattermost/actions/plugin-ci/test@main

  build:
    runs-on: ubuntu-latest
    steps:
      - name: ci/checkout-repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: ci/setup
        uses: mattermost/actions/plugin-ci/setup@main
        with:
          go-version-file: ${{ inputs.go-version-file }}
          golangci-lint-version: ${{ inputs.golangci-lint-version }}

      - name: ci/build
        uses: mattermost/actions/plugin-ci/build@main
