on:
  workflow_call:
jobs:
  build:
    uses: ./.github/workflows/community-plugin-ci.yml
    secrets: inherit

  release-github:
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: cd/checkout-repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: "0"

      - name: cd/download-artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: dist
          path: dist

      - name: ci/publish-release
        working-directory: dist
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create "$GITHUB_REF_NAME" --title "$GITHUB_REF_NAME" --notes-file release-notes.md  *.tar.gz
