on:
  workflow_call:
    inputs:
      golang-version:
        default: "1.21"
        description: |
          Set the version for golang
        required: false
        type: string

jobs:
  build:
    uses: ./.github/workflows/community-plugin-ci.yml
    secrets: inherit
    with:
      golang-version: ${{ inputs.golang-version }}

  release-github:
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: cd/checkout-repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: "0"

      - name: cd/download-artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: dist
          path: dist

      - name: ci/publish-release
        working-directory: dist
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create "$GITHUB_REF_NAME" --title "$GITHUB_REF_NAME" --notes-file release-notes.md  *.tar.gz
