on:
  workflow_call:
    inputs:
      artifacts:
        default: "*.tar.gz"
        description: |
          The path or files of artifacts to upload
        required: false
        type: string

      bucket:
        default: mattermost-plugins-delivery/ci/
        description: |
          The S3 bucket full path to upload
        required: false
        type: string

      golangci-lint-version:
        default: "v1.55.2"
        description: |
          Set the version for golangci-lint
        required: false
        type: string

      golang-version:
        default: "1.21"
        description: |
          Set the version for golang
        required: false
        type: string

      mage-version:
        default: "v1.15.0"
        description: |
          Set the version for mage
        required: false
        type: string

      region:
        default: us-east-1
        description: |
          The AWS region for S3 bucket
        required: false
        type: string

      run-scheduled:
        type: boolean
        default: false
        required: false
        description: |
          Permit forked repos to run the workflow in a scheduled context

permissions:
  contents: read
  id-token: write

jobs:
  lint:
    if: ${{ github.repository_owner == 'mattermost' || github.event_name != 'schedule' || inputs.run-scheduled }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: ci/setup
        uses: mattermost/actions/plugin-ci/setup@d5174b860704729f4c14ef8489ae075742bfa08a # v1.0.0
        with:
          golangci-lint-version: ${{ inputs.golangci-lint-version }}
          golang-version: ${{ inputs.golang-version }}

      - name: Install mage
        run: go install github.com/magefile/mage@${{ inputs.mage-version }}

      - name: ci/lint
        uses: mattermost/actions/plugin-ci/lint@d5174b860704729f4c14ef8489ae075742bfa08a # v1.0.0

  test:
    if: ${{ github.repository_owner == 'mattermost' || github.event_name != 'schedule' || inputs.run-scheduled }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: ci/setup
        uses: mattermost/actions/plugin-ci/setup@d5174b860704729f4c14ef8489ae075742bfa08a # v1.0.0
        with:
          golang-version: ${{ inputs.golang-version }}

      - name: Install mage
        run: go install github.com/magefile/mage@${{ inputs.mage-version }}

      - name: ci/test
        uses: mattermost/actions/plugin-ci/test@d5174b860704729f4c14ef8489ae075742bfa08a # v1.0.0

  build:
    if: ${{ github.repository_owner == 'mattermost' || github.event_name != 'schedule' || inputs.run-scheduled }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: ci/setup
        uses: mattermost/actions/plugin-ci/setup@d5174b860704729f4c14ef8489ae075742bfa08a # v1.0.0
        with:
          golang-version: ${{ inputs.golang-version }}

      - name: Install mage
        run: go install github.com/magefile/mage@${{ inputs.mage-version }}

      - name: ci/build
        uses: mattermost/actions/plugin-ci/build@d5174b860704729f4c14ef8489ae075742bfa08a # v1.0.0

  delivery:
    if: ${{ github.repository_owner == 'mattermost' && github.event_name != 'schedule' && (github.ref_name  == 'master' || github.ref_name  == 'main') }}
    runs-on: ubuntu-latest
    needs: [lint, test, build]
    steps:
      - name: ci/download-artifact
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: dist
          path: dist

      - name: ci/prepare-artifact
        run: mv *.tar.gz ${GITHUB_REPOSITORY#*/}-ci.tar.gz
        working-directory: dist

      - name: ci/aws-configure
        uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # v4.3.1
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID_RELEASE }}:role/mattermost-release-plugin-store-role

      - name: ci/artifact-upload
        shell: bash
        run: |
          aws s3 cp ${{ inputs.artifacts }} s3://${{ inputs.bucket }} --acl public-read --cache-control no-cache
        working-directory: dist
