on:
  workflow_call:
    inputs:
      is_monorepo:
        description: 'Is a monorepo'
        default: true
        required: false
        type: boolean
      tag_name:
        description: 'Tag name to use for the SBOM (required when manually triggered)'
        required: false
        type: string

permissions:
  contents: write

jobs:
  sbom:
    runs-on: ubuntu-latest
    env:
      RELEASE_TAG: ${{ inputs.tag_name || github.event.release.tag_name }}
    steps:
      - name: sbom/checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ env.RELEASE_TAG }}

      - name: sbom/setup-node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: '22.6.0'

      - name: sbom/install-snyk
        run: npm install -g snyk@1.1296.1

      - name: sbom/generate-monorepo
        if: ${{ inputs.is_monorepo }}
        run: snyk sbom --format=cyclonedx1.6+json --all-projects > sbom-${{ github.event.repository.name }}-${{ env.RELEASE_TAG }}.json
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      - name: sbom/generate-nonmonorepo
        if: ${{ ! inputs.is_monorepo }}
        run: snyk sbom --format=cyclonedx1.6+json > sbom-${{ github.event.repository.name }}-${{ env.RELEASE_TAG }}.json
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      - name: sbom/upload
        env:
          GH_TOKEN: ${{ github.token }}
        run: gh release upload "${RELEASE_TAG}" sbom-${{ github.event.repository.name }}-${{ env.RELEASE_TAG }}.json
